.conteinetProjects{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 4.5vw;
    margin: auto;
    margin-top: 2%;
}

.card{
   width: 19vw;
   height: auto;
   transition: transform 0.5s ease;
   padding: 0.7% 0%;
   display: grid;
}
.card:hover{
    box-shadow: 5px 6px 5px 1px rgba(0,0,0,0.21);
    -webkit-box-shadow: 5px 6px 5px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: 5px 6px 5px 1px rgba(0,0,0,0.21);
}

.card:nth-child(1){
    background: url("/img/1.png");
    background-size: cover;
    opacity: 0.9;
}
.card:nth-child(2){
    background: url("/img/2.png");
    background-size: cover;
    opacity: 0.9;
}
.card:nth-child(3){
    background: url("/img/3.png");
    background-size: cover;
    opacity: 0.9;
}
.card:nth-child(4){
    background: url("/img/4.png");
    background-size: cover;
    opacity: 0.9;
}

.divImage{
    width: 100%;
    height: 29%;
    align-items: center;
}

.imgProyect{
    display: flex;
    width: 90%;
    height: 21vh;
    margin: 2% auto 0% auto;
    box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.47);
    -webkit-box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.47);
    border-radius: 5px;
    object-fit: cover;
}

.nameProject{
font-family: "imprima", sans-serif;
margin-bottom: 0%;
text-align: center;
font-size: 2vw;
font-weight: 500;
letter-spacing: 0.5px;
}

.divInfo{
   position: relative;
    margin: 2% 3% 6% 3%;
    display: grid;
    gap: 3%;
}
.divInfo p {
    font-size: 93%;
    letter-spacing: 0.5px;
    margin-bottom: 0%;
    text-align: center;
}

.imgTools{
    margin-left: 9.5%;
    width: 80%;
    height: auto;
    margin-bottom: -2%;
}

.visitarSitio{
    text-align: center; 
    border: none;
    color: #fff;
    font-size: 1.5vw;
    background-color: #1d1227af;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    border-radius: 25px;
    padding: 2% ;
}

.visitarSitio:hover{
    background-color: rgb(35,112,128);
    background: linear-gradient(13deg, rgba(35, 112, 128, 0.795) 1%, rgba(88,61,126,1) 67%, rgba(93,56,126,1) 91%);
  }
  
/* .visitarSitio:before {
    /* text-align: center; 
    content: "";
    position: absolute;
    background: #ffffff;
    width: 6%;
    height: 1.3px;
    top: 100%;
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
  }

.visitarSitio:hover:before {
    width: 50%;
  } */
